<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masum.contentprovidersqlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.masum.todos.TodosOverviewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.masum.todos.TodoDetailActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <!-- android:exported="true" makes  this provider data accessible form other application
       android:multiprocess="true" makes  permits an instance of the provider to be created
       in each client process, eliminating the need to perform interprocess communication (IPC)
        -->
        <provider
            android:name="com.masum.contentprovider.MyTodoContentProvider"
            android:authorities="authorities.todos.contentprovider"
            android:exported="true" />
    </application>

</manifest>
